.navbar {
    margin-bottom:0
}

.navbar .container {
    position:relative
}

.navbar-inverse {
    background-color:#000;
    box-shadow:0 1px 0 #333
}

.navbar-brand {
    width:114px;
    height:50px;
    background:url(../images/9GAG-tv-logo.png) right center no-repeat;
    text-indent:-999px;
    overflow:hidden;
    margin-left:0!important
}

.navbar .social-love-button {
    margin:7.5px 0
}

.navbar-nav.navbar-right:last-child {
    margin-right:0
}

.navbar .social-love-button li {
    margin:15px 0;
    height:10px;
    float:none
}

.navbar .navbar-icon {
    float:right;
    font-size:28px;
    margin:0
}

.navbar .navbar-icon a.mobile {
    color:#999;
    width:70px;
    padding:0 0 0 20px;
    height:50px;
    line-height:50px;
    display:block;
    text-align:center;
    position:relative
}

.navbar .navbar-icon a.mobile:hover {
    color:#fff
}

.channel-bar {
    background-color:#333
}

.nav.channel {
    border:0;
    overflow-x:auto;
    overflow-y:hidden;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-box
}

.nav.channel li {
    margin-bottom:0;
    float:none
}

.nav.channel li a {
    border:0;
    margin-right:0;
    border-radius:0;
    line-height:20px;
    font-size:13px;
    padding:14px 16px;
    color:#ccc;
    font-weight:700;
    text-align:center;
    min-width:48px;
    text-transform:uppercase
}

.nav.channel>li>a:focus,.nav.channel>li>a:hover {
    background-color:transparent;
    color:#fff
}

.nav.channel>li.active>a,.nav.channel>li.active>a:focus,.nav.channel>li.active>a:hover {
    border:0;
    padding-bottom:12px;
    border-bottom:2px solid red;
    background-color:transparent;
    color:#fff
}

.navbar .navbar-icon a.mobile:after {
    content:'new';
    display:block;
    position:absolute;
    text-transform:uppercase;
    padding:0 4px;
    top:50%;
    margin-top:-7px;
    left:0;
    color:#fff;
    font-size:9px;
    font-weight:700;
    border-radius:2px;
    background-color:#00a256;
    height:14px;
    line-height:14px
}

.navbar .nav-login {
    list-style-type:none;
    margin:0 0 0 20px;
    padding:0
}

.navbar .nav-login a {
    color:#999
}

.navbar .nav-login a.btn {
    color:#fff;
    font-weight:700
}

.navbar .nav-login li {
    float:left
}

.navbar .nav-account .dropdown-toggle {
    padding-left:59px
}

.navbar .nav-account .img-container {
    width:34px;
    height:34px;
    border-radius:4px;
    overflow:hidden;
    position:absolute;
    top:8px;
    left:15px
}

footer {
    background-color:#f4f4f4;
    padding:20px 0
}

footer .placeholder {
    background-color:rgba(255,255,255,.2);
    margin:0
}

footer .dpa-728 {
    padding:20px 0
}

footer .dpa-728 .dpa-container {
    width:728px;
    height:90px;
    margin:0 auto
}

footer .links {
    color:#000;
    text-align:center;
    margin:20px 0
}

footer .links a {
    color:#000;
    font-weight:700;
    margin:0 10px
}

@media(min-width:768px) {
.navbar .social-love-button {
    margin:0
}

.navbar .social-love-button li {
    float:left;
    margin-left:15px;
    margin-bottom:0
}
}

@media(max-width:767px) {
.navbar .nav-account,.navbar .nav-login {
    margin:0
}
}